.curved-loop-jacket {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.curved-loop-svg {
    user-select: none;
    width: 100%;
    height: 100%;
    overflow: visible;
    display: block;
    font-size: 3rem;
    fill: #ed6a2d;
    font-family: 'Coolvetica', sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
}