.background-beams-container {
    pointer-events: none;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.background-beams-svg {
    position: absolute;
    height: 100%;
    width: 100%;
}